@page
@model TicTacToe5.Pages.Players.DetailsModel

@{
   ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TblPlayers</h4>
    <hr />
    <dl class="row">
       <dt class="col-sm-2">
          @Html.DisplayNameFor(model => model.TblPlayers.Username)
       </dt>
       <dd class="col-sm-10">
          @Html.DisplayFor(model => model.TblPlayers.Username)
       </dd>
       <dt class="col-sm-2">
          @Html.DisplayNameFor(model => model.TblPlayers.Password)
       </dt>
       <dd class="col-sm-10">
          @Html.DisplayFor(model => model.TblPlayers.Password)
       </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.TblPlayers.PlayerId">Edit</a> |
    <a asp-page="./Index" asp-page-handler="NewPlayer" asp-route-id="@Model.TblPlayers.PlayerId" type="submit">Back to List</a>
</div>
